@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
$font-1: "Syne", serif;
$white:#fff;
$black:#000;
$primary: #1F547C;
$secondary: #050505;
$text:#9B9DA0;
$heading: #06090B;
$border:#D5D6D9;
$bg:#F0F1F4;
:root {
    scroll-behavior: auto !important;
}